.Projects {
  width: 100%;
  height: 100%;
  z-index: 50;
  color: var(--text-0);
  transition: color var(--theme-transition-duration) linear;
  mask-image: linear-gradient(
    to bottom,
    transparent 3rem,
    rgba(0, 0, 0, 1) 6.5rem calc(100% - 9.5rem),
    transparent calc(100% - 3rem)
  );
  mask-position: center;
  mask-repeat: no-repeat;
  mask-composite: intersect;
  overflow-y: overlay;
}
.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  gap: 1rem;
  padding: 7rem 2rem;
  backdrop-filter: blur(0px);
  animation: blur 0.25s linear forwards 0.75s normal;
}

@keyframes blur {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(3px);
  }
}
