.FlipButton {
  transition: background-color 0.1s linear;
}
.FlipIcon {
  padding: 0.3rem;
  transition: transform 0.2s linear, opacity 0.1s ease-out,
    filter var(--theme-transition-duration) linear;
  filter: var(--iconFilter);
}
.FlipIcon.Active {
  transform: perspective(5em) rotateX(0deg) !important;
  opacity: 1 !important;
}
.FlipIcon.Inactive {
  transform: perspective(5em) rotateX(180deg) !important;
  opacity: 0 !important;
}
.ShadowBox {
  display: flex;
  box-shadow: 0 0 5px 0 var(--boxShadowColor);
}

@media (hover: hover) {
  .FlipIcon:hover {
    cursor: pointer;
  }
  .FlipButton:hover {
    background-color: var(--hoverBackgroundColor);
  }
}
