.Tags {
  width: 100%;
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
}
.TagNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.25rem;
  z-index: 5;
  transition: opacity 0.1s linear, box-shadow 0.1s linear;
  box-shadow: 1px 0 10px 0px var(--boxShadowColor);
}
.TagNavigationDisabled {
  opacity: 0.5;
  box-shadow: none;
}
.TagNavigationIcon {
  height: 70%;
  box-sizing: border-box;
  pointer-events: none;
  filter: var(--iconFilter);
  transition: filter var(--theme-transition-duration) linear;
}
.TagItems {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: visible;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  z-index: 1;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.TagItems::-webkit-scrollbar {
  display: none;
}
.TagItem {
  padding: 0.2rem 0.7rem;
  box-shadow: 0 0 6px 0 var(--boxShadowColor);
  border-radius: 999px;
  white-space: nowrap;
  transition: opacity 0.1s linear, background-color 0.1s linear,
    box-shadow 0.1s linear;
  box-sizing: border-box;
  font-size: 0.9em;
}
.TagItem:not(:last-child) {
  margin-right: 0.5rem;
}
.TagItem:first-child {
  margin-left: 0.5rem;
}
.TagItem:last-child {
  margin-right: 0.5rem;
}
.TagActive {
  opacity: 1;
}
.TagInactive {
  opacity: 0.6;
  box-shadow: none;
}
.NavLeftAnimating .TagNavigationIcon {
  animation: navLeft 0.3s ease-out;
}
.NavLeftDisabledAnimating .TagNavigationIcon {
  animation: navLeftDisabled 0.3s ease-out;
}
.NavRightAnimating .TagNavigationIcon {
  animation: navRight 0.3s ease-out;
}
.NavRightDisabledAnimating .TagNavigationIcon {
  animation: navRightDisabled 0.3s ease-out;
}

@keyframes navLeft {
  0% {
    transform: translateX(0);
  }
  49% {
    transform: translateX(-110%) scaleX(0);
  }
  50% {
    transform: translateX(110%) scaleX(0);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}
@keyframes navRight {
  0% {
    transform: translateX(0);
  }
  49% {
    transform: translateX(110%) scaleX(0);
  }
  50% {
    transform: translateX(-110%) scaleX(0);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}
@keyframes navLeftDisabled {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-50%);
    opacity: .3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes navRightDisabled {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(50%);
    opacity: .3;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (hover: hover) {
  .TagNavigation:hover {
    transition: background-color 0.15s linear;
    cursor: pointer;
    background-color: var(--hoverBackgroundColor);
  }
  .TagItem:hover {
    cursor: pointer;
    background-color: var(--hoverBackgroundColor);
  }
}
