.ProjectCard {
  position: relative;
  width: 80vw;
  min-height: 53vw;
  padding: 0.5rem;
  cursor: pointer;
}
.ProjectCard .Cover {
  width: 100%;
  height: 53vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0.75) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.8;
  filter: grayscale(1);
}
.ProjectCard video.Cover {
  object-fit: cover;
}
.ProjectCard .Info {
  width: 100%;
  padding: 0 0.75rem 0.75rem 0.75rem;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}
.ProjectCard .Title {
  position: absolute;
  top: 53vw;
  transform: translateY(-100%);
  z-index: 51;
  width: calc(100% - 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
}
.ProjectCard .Title h3 {
  font-weight: 500;
  margin: 0;
}
.ProjectCard .Title .Links {
  display: flex;
  gap: 0.25rem;
  opacity: 0.75;
}
.ProjectCard .Footer {
  display: flex;
  justify-content: center;
  padding: 0.25rem 0.75rem 0.75rem 0.75rem;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.Footer .Tags {
  flex: 1;
  display: flex;
  gap: 0.5rem;
  opacity: 0.75;
}

@media (min-width: 480px) and (max-width: 768px) {
  .ProjectCard {
    width: 40vw;
    min-height: 26vw;
    display: flex;
    flex-direction: column;
    place-self: flex-start;
    align-self: stretch;
  }
  .ProjectCard .Info {
    flex: 1;
  }
  .ProjectCard .Cover {
    height: 26vw;
  }
  .ProjectCard .Title {
    top: 26vw;
  }
}

@media (min-width: 768px) {
  .ProjectCard {
    width: 20rem;
    min-height: 13rem;
    display: flex;
    flex-direction: column;
    place-self: flex-start;
    align-self: stretch;
  }
  .ProjectCard .Info {
    flex: 1;
  }
  .ProjectCard .Cover {
    height: 13rem;
  }
  .ProjectCard .Title {
    top: 13rem;
  }
}
