.CollapsibleSection {
  position: relative;
  transition: opacity 0.2s ease-out;
  transform-origin: top;
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-bottom: 0.8rem;
}
.CollapsibleSection .Header {
  width: 100%;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  box-shadow: 0 0 6px 0 var(--boxShadowColor);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  transition: flex 0.2s ease-out, box-shadow var(--theme-transition-duration) linear;
  backdrop-filter: blur(8px);
  z-index: 10;
}
.HeaderText {
  position: relative;
  left: 0;
  transition: left 0.2s ease-out, transform 0.2s ease-out, font-size 0.2s linear;
  font-size: 1.1rem;
  padding: 0.3rem 1rem;
  font-weight: 100;
  display: flex;
  align-items: center;
}
.HeaderTextCentered {
  font-size: 1.3rem;
  left: 50%;
  transform: translateX(-50%);
}
.Indicator {
  position: absolute;
  right: 0;
  display: flex;
  margin-right: 1rem;
  transition: transform 0.2s ease-out;
}
.IndicatorCollapsed {
  transform: rotateZ(0) rotateX(0);
}
.IndicatorExpanded {
  transform: rotateZ(90deg) rotateX(180deg);
}
.Details {
  position: absolute;
  right: 3rem;
  font-size: 0.95em;
  color: var(--text);
  font-weight: 300;
  opacity: .5;
  transition: opacity 0.2s linear, color var(--theme-transition-duration) linear;
}
.DetailsHidden {
  opacity: 0;
}
.Content {
  max-height: 0;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.2s ease-out, opacity 0.2s ease-out;
  z-index: 5;
}

@media (min-width: 768px) {
  .CollapsibleSection .Header:hover {
    cursor: pointer;
  }
}
