.SearchAndFilter {
  width: 100%;
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
  color: var(--text);
  transition: color var(--theme-transition-duration) linear;
}
.Icon {
  padding: 0.7rem;
  box-sizing: border-box;
  transition: transform 0.15s linear,
    filter var(--theme-transition-duration) linear;
  filter: var(--iconFilter);
}
.ShadowBox {
  display: flex;
  box-shadow: 4px 0 10px -3px var(--boxShadowColor);
  transition: box-shadow var(--theme-transition-duration) linear;
}
.SearchInput {
  width: 0;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  flex-grow: 1;
  border: none;
  outline: none;
  margin: 0;
  font-size: 1rem;
  background: none;
  box-shadow: inset -7px 0 15px -7px var(--boxShadowColor);
  transition: box-shadow var(--theme-transition-duration) linear, color var(--theme-transition-duration) linear;
  font-size: 1.1em;
  color: var(--text);
  font-weight: 300;
}
.SearchInput:focus {
  outline: none;
}
.NavItem {
  display: flex;
  position: relative;
  border-right: 1px solid var(--text);
  transition: border-right var(--theme-transition-duration) linear,
    background-color 0.15s linear;
  z-index: 150;
}
.ActiveNavItem {
  background-color: var(--primaryTransparent);
  transition: background-color var(--theme-transition-duration) linear;
  opacity: 1;
}
.GroupActive {
  transform: rotateZ(60deg);
}
.NavMenu {
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: -6px 6px 6px -4px var(--boxShadowColor),
    6px 6px 6px -4px var(--boxShadowColor);
  background-color: var(--primaryTransparent);
  transition: transform 0.2s ease-out,
    background-color var(--theme-transition-duration) linear,
    box-shadow var(--theme-transition-duration) linear;
  overflow: auto;
  z-index: 150;
  transform-origin: top;
  transform: scaleY(0);
  box-sizing: border-box;
  min-height: 5.5rem;
  max-height: 50vh;
  backdrop-filter: blur(4px);

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.NavMenu::-webkit-scrollbar {
  display: none;
}
.Open {
  transform: scaleY(1);
}
.NavMenuItem {
  text-transform: capitalize;
  padding: 0.6rem 1.5rem;
  text-align: left;
  transition: box-shadow 0.1s linear,
    color var(--theme-transition-duration) linear;
  display: flex;
  align-items: center;
  color: var(--text);
  white-space: nowrap;
}
.MenuTitle {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 0;
  color: var(--text);
  transition: color var(--theme-transition-duration) linear;
  opacity: 0.5;
}
.MenuDivider {
  position: relative;
  width: 80%;
  left: 10%;
  box-sizing: border-box;
  border-top: 1px solid var(--text);
  transition: border-top var(--theme-transition-duration) linear;
  margin-bottom: 0.5rem;
  opacity: 0.7;
}
.SelectionIcon {
  border-radius: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--text);
  margin-right: 1rem;
  opacity: 0;
  box-shadow: 0 0 8px 0 var(--boxShadowColor);
  transition: background-color var(--theme-transition-duration) linear,
    box-shadow var(--theme-transition-duration) linear;
}
.Selected {
  opacity: 1;
}
.SortIcons {
  display: flex;
}

@media (hover: hover) {
  .SearchIcon:hover {
    transition: background-color 0.15s linear;
    cursor: pointer;
    background-color: var(--hoverBackgroundColor);
  }
  .NavItem:hover {
    cursor: pointer;
    background-color: var(--hoverBackgroundColor);
  }
  .NavMenuItem:hover {
    box-shadow: 0 0 10px 0 var(--boxShadowColor);
    cursor: pointer;
  }
  .SortIcons:hover {
    transition: background-color 0.15s linear;
    cursor: pointer;
    background-color: var(--hoverBackgroundColor);
  }
}
