.SelfCover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--text-0);
  transition: background-color var(--theme-transition-duration) linear;
}
.SelfCover canvas {
  pointer-events: none !important;
  position: absolute;
  top: 0;
  left: 0;
}
.SelfCover canvas:last-child {
  pointer-events: none;
  z-index: 1;
}
