svg.icon {
  user-select: none;
  transition: color var(--theme-transition-duration) linear;
}

svg.icon.adaptive {
  color: #000000;
}

html[data-theme="dark"] svg.icon.adaptive {
  color: #ffffff;
}
