.GlassButton {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: 2px solid var(--text);
  transition: border var(--theme-transition-duration) linear,
    box-shadow 0.2s linear;
  padding: 0 1rem;
  margin-right: 0.5rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  align-self: stretch;
}
.GlassButton::after {
  content: "";
  position: absolute;
  height: 250%;
  width: 20%;
  background-color: var(--text);
  opacity: 0.3;
  transform: rotateZ(45deg);
  left: -50%;
  box-shadow: 0 0 10px 5px var(--text);
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.GlassButton:active::after {
  animation-name: shine;
}
.GlassButtonReverse {
  flex-flow: row-reverse;
}
.ButtonText {
  font-weight: 300;
  align-self: baseline;
  color: var(--text);
  transition: color var(--theme-transition-duration) linear;
}
.ButtonIcon {
  margin-right: 0.4rem;
  filter: var(--iconFilter);
  transition: filter var(--theme-transition-duration) linear;
}

@keyframes shine {
  0% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}

@media (hover: hover) {
  .GlassButton {
    cursor: pointer;
  }
  .GlassButton:hover::after {
    animation-name: shine;
  }
  .GlassButton:active::after {
    animation-name: none;
  }
  .GlassButton:hover {
    box-shadow: 0 0 15px 0 var(--boxShadowColor);
  }
}
