section {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  inset: 0;
  scrollbar-width: none;
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
}
.preload-left {
  transform: translateX(-40%);
  z-index: 0;
}
.preload-right {
  transform: translateX(40%);
  z-index: 0;
}
section::-webkit-scrollbar {
  display: none;
}
/* .section-forward-appear {
  opacity: 1;
}
.section-forward-enter {
  transform: translateX(40%);
  opacity: 0;
}
.section-forward-enter-active {
  transform: translateX(0);
  opacity: 1;
}
.section-forward-enter-done {
  transform: translateX(0);
  opacity: 1;
  z-index: 2;
}
.section-forward-exit {
  transform: translateX(0);
  opacity: 1;
}
.section-forward-exit-active {
  transform: translateX(-30%);
  opacity: 0;
}
.section-forward-exit-done {
  transform: translateX(-30%);
  opacity: 0;
  z-index: 0;
}
.section-backward-enter {
  transform: translateX(-30%);
  opacity: 0;
}
.section-backward-enter-active {
  transform: translateX(0);
  opacity: 1;
}
.section-backward-enter-done {
  transform: translateX(0);
  opacity: 1;
  z-index: 2;
}
.section-backward-exit {
  transform: translateX(0);
  opacity: 1;
}
.section-backward-exit-active {
  transform: translateX(40%);
  opacity: 0;
}
.section-backward-exit-done {
  transform: translateX(40%);
  opacity: 0;
  z-index: 0;
}
 */
