.Modal {
  position: fixed;
  z-index: 150;
  color: var(--text);
  box-shadow: 0 0 6px 0 var(--boxShadowColor);
  left: 50%;
  top: 50%;
  width: 80%;
  min-width: 250px;
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
  box-sizing: border-box;
  transition: transform .1s linear, opacity .1s linear;
  pointer-events: none;
  padding: .5rem 1.8rem;
}
.Show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
}

@media (min-width: 500px) {
  .Modal {
    width: auto;
  }
}
@media (min-width: 768px) {
  .Modal {
    white-space: nowrap;
  }
}