.FloatingProject {
  z-index: 0;
  position: absolute;
  backdrop-filter: blur(8px);
  opacity: 0;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-property: opacity, top, left, width, height, margin-top;
  display: flex;
  flex-flow: column;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
.FloatingProject.Fullscreen {
  top: 4rem !important;
  left: 0 !important;
  width: calc(100vw) !important;
  height: calc(100vh - 4rem) !important;
  margin-top: 0 !important;
  z-index: 50;
  opacity: 1;
}
.CardHeader {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  position: sticky;
  margin-bottom: 0.5rem;
}
.CardTitle {
  font-size: 1.4em;
  font-weight: 100;
}
.ProjectDuration {
  display: inline-flex;
  float: left;
  align-items: center;
}
.ProjectType {
  display: inline;
  float: right;
  text-transform: capitalize;
  padding: 0 0.5rem;
  box-shadow: 0 0 3px 0 var(--boxShadowColor);
  transition: box-shadow var(--theme-transition-duration) linear,
    background-color var(--theme-transition-duration) linear;
  background-color: var(--primaryTransparent);
  border-radius: 0.2rem;
}
.ProjectBackground {
  position: relative;
  width: 100%;
  background-color: var(--secondaryTransparent);
  object-position: -100vw;
  opacity: 0.9;
  background-size: 100%;
  background-position: center;
  box-shadow: 0 0 6px 0 var(--boxShadowColor);
  transition: box-shadow var(--theme-transition-duration) linear,
    background-color var(--theme-transition-duration) linear;
}
.CardDetails {
  display: flex;
  flex-flow: column;
  font-weight: 300;
  margin-top: 0.5rem;
}
.CardDescription {
  text-align: left;
  margin-top: 1rem;
}
.HashTags {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  font-size: 1rem;
  margin-top: 2.5rem;
}
.HashTag {
  font-weight: 300;
  padding: 0 0.5rem;
  box-shadow: 0 0 3px 0 var(--boxShadowColor);
  transition: box-shadow var(--theme-transition-duration) linear;
  border-radius: 999px;
  padding-bottom: 0.1rem;
  margin-bottom: 0.5rem;
}
.HashTag:not(:last-child) {
  margin-right: 0.5rem;
}
.Organizations {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.Organization {
  font-weight: 300;
  box-shadow: 0 0 5px 0 var(--boxShadowColor);
  transition: box-shadow var(--theme-transition-duration) linear;
  padding: 0.1rem 0.5rem;
}
.Organization:not(:last-child) {
  margin-right: 0.5rem;
}
.Icon {
  filter: var(--iconFilter);
  transition: filter var(--theme-transition-duration) linear;
}
.Scrollable::-webkit-scrollbar {
  display: none;
}
.Scrollable {
  position: relative;
  display: flex;
  flex-flow: column;
  overflow: auto;
  width: 102%;
  left: -1%;
  padding: 0 1%;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--text);
  transition: border-top var(--theme-transition-duration) linear;
}
.LinksAndControls {
  padding-top: 0.5rem;
  border-top: 1px solid var(--text);
  transition: border-top var(--theme-transition-duration) linear,
    box-shadow var(--theme-transition-duration) linear;
  box-shadow: 0 -5px 5px -5px var(--boxShadowColor);
}
.Links {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}
.Link {
  text-decoration: none;
  margin: 0 0.5rem;
}
.Controls {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

@media (min-width: 500px) {
  .ProjectBackground {
    max-width: 60%;
  }
  .FloatingProject {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 768px) {
  .ProjectBackground {
    max-width: 40%;
  }
  .FloatingProject {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .CardHeader {
    justify-content: center;
    margin-top: 1rem;
  }
  .ProjectBackground {
    align-self: center;
  }
}
