.Navigator {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 0;
  width: 50%;
  opacity: 0.7;
  z-index: 100;
  transition: opacity 0.1s linear;
  color: var(--text);
  transition: color var(--theme-transition-duration) linear;
  cursor: pointer;
  touch-action: none;
}
.Navigator .Track {
  position: relative;
  height: 0.15rem;
  background-color: gray;
  border-radius: 0.5rem;
  width: calc(100% + 0.55rem);
  left: -0.275rem;
}
.Navigator .Thumb {
  position: absolute;
  top: 50%;
  left: -0.275rem;
  width: 0.55rem;
  height: 0.55rem;
  border-radius: 50%;
  background-color: grey;
  transition: transform 0.2s linear, left 0.2s ease-out;
  transform: translateY(-50%) scale(1);
}
.Navigator .Thumb.active {
  transform: translateY(-50%) scale(1);
}
.Track .Checkpoints {
  position: absolute;
  pointer-events: none;
  width: 100%;
  display: flex;
  font-size: 0.8rem;
  margin-top: 0.6rem;
}
.Track .Checkpoints .Checkpoint {
  position: absolute;
  transform: translateX(-50%) scale(0);
  opacity: 0;
  transition: opacity 0.2s linear, transform 0.2s linear;
}
.Track .Checkpoints .Checkpoint.current {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  animation: hide 0.2s linear 1.25s 1 forwards normal;
}
.Track .Checkpoints .Checkpoint:first-child {
  left: 0 !important;
  transform: translateX(0) scale(0);
}
.Track .Checkpoints .Checkpoint.current:first-child {
  transform: translateX(0) scale(1);
}
.Track .Checkpoints .Checkpoint:last-child {
  right: 0 !important;
  left: unset !important;
  transform: translateX(0) scale(0);
}
.Track .Checkpoints .Checkpoint.current:last-child {
  transform: translateX(0) scale(1);
}

.SectionTitles.titlehidden {
  visibility: hidden;
}
.SectionTitle {
  position: fixed;
  margin: 0;
  font-weight: 100;
  left: -0.65rem;
  top: 0.25rem;
  z-index: 1;
  font-size: 2.5rem;
  writing-mode: tb;
  transform: rotateZ(180deg) translateY(105%);
  transition: transform 0.55s linear;
  opacity: 0.1;
  animation: slideout 0.55s var(--scroll-timing-fn) forwards normal;
}
.SectionTitle.titleactive {
  animation: slidein 0.55s var(--scroll-timing-fn) 1.5s forwards normal;
}
.SectionTitle.titleignore {
  display: none;
}

@keyframes slidein {
  0% {
    transform: rotateZ(180deg) translateY(105%);
  }
  100% {
    transform: rotateZ(180deg) translateY(0);
  }
}
@keyframes slideout {
  0% {
    transform: rotateZ(180deg) translateY(0);
  }
  100% {
    transform: rotateZ(180deg) translateY(105%);
  }
}

@media (min-width: 768px) {
  .Navigator {
    max-width: 15rem;
  }
}
@media (hover: hover) {
  .Navigator:hover .Thumb {
    transform: translateY(-50%) scale(1);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
