.Navigator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 15rem;
  z-index: 100;
  transition: opacity 0.1s linear, color var(--theme-transition-duration) linear;
  color: var(--text-0);
  cursor: pointer;
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Navigator .Switch {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  opacity: 0.3;
  transform: translate(-50%, 50%);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition-delay: 0.2s;
  font-size: 0;
  cursor: pointer;
}
.Navigator .SectionTitleList {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 3.5rem;
  position: relative;
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition-delay: 0.2s;
  backdrop-filter: blur(2px);
}
.SectionTitle {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: var(--text-3);
  text-align: center;
  transition: color var(--theme-transition-duration) linear,
    font-size 0.3s cubic-bezier(0, 0, 0.4, 1);
  z-index: 1;
  font-size: 1rem;
  font-weight: 100;
}
.SectionTitle.titleactive {
  font-size: 2rem;
}

.NavigationButtons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  z-index: 50;
  top: 50%;
  transform: translateY(-50%) scale(1);
  opacity: 1;
  transition: opacity 0.5s linear, background-color 0.15s linear,
    transform 0.15s ease-out;
  padding: 0.5rem;
  font-size: 0;
  border-radius: 50%;
}
.NavigationButtons button:active {
  transform: translateY(-50%) scale(0.85);
}
.NavigationButtons button.hidden {
  opacity: 0;
  cursor: unset;
}
.NavigationButtons .Left {
  left: 0;
  margin-left: 0.5rem;
}
.NavigationButtons .Right {
  right: 0;
  margin-right: 0.5rem;
}

@keyframes slidein {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes slideout {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-150%);
  }
}

@media (min-width: 768px) {
  .Navigator {
    max-width: 15rem;
  }
}
@media (hover: none) {
  .Navigator:focus .SectionTitleList,
  .Navigator:focus-within .SectionTitleList {
    transform: translateY(0);
  }
}
@media (hover: none) and (min-width: 1024px) {
  .Navigator:focus .Switch,
  .Navigator:focus-within .Switch {
    transform: translate(-50%, -150%);
  }
}
@media (hover: none) and (max-width: 1024px) {
  .Navigator:focus .Switch,
  .Navigator:focus-within .Switch {
    transform: translate(-50%, 150%);
  }
}
@media (hover: hover) {
  .NavigationButtons button:hover {
    background-color: var(--background-nav);
  }
  .dark .NavigationButtons button:hover {
    background-color: #00000014;
  }
  .Navigator:hover .SectionTitleList {
    transform: translateY(0);
  }
}
@media (hover: hover) and (min-width: 1024px) {
  .Navigator:hover .Switch {
    transform: translate(-50%, -150%);
  }
}
@media (hover: hover) and (max-width: 1024px) {
  .Navigator:hover .Switch {
    transform: translate(-50%, 150%);
  }
}
@media (pointer: coarse) {
  .NavigationButtons {
    display: none;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  .Navigator {
    bottom: unset;
    right: unset;
    top: 0;
  }
  .Navigator .Switch {
    transform: translate(-50%, -50%);
  }
  .Navigator .SectionTitleList {
    transform: translateY(-100%);
  }
}
