.Intro {
  width: 100%;
  height: 100%;
  z-index: 50;
  color: var(--text-0);
  transition: color var(--theme-transition-duration) linear;
}
.Float {
  width: min-content;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  position: relative;
  padding: 1rem 3rem;
  font-weight: 300;
}
.Float::before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--background-0);
}
.Greeting {
  font-size: 2rem;
}
.Name .First {
  display: inline;
  font-size: 3rem;
}
.Name .Last {
  display: inline;
  font-style: italic;
  position: relative;
  top: -1.5rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
}
.Greeting span:first-child {
  opacity: 0;
  animation: fadein 0.5s linear forwards 0.2s;
}
.Greeting span:last-child,
.Name {
  opacity: 0;
  animation: fadein 0.5s linear forwards 1.5s;
}
.Name .Last {
  opacity: 0;
  animation: fadein 0.5s linear forwards 1.75s;
}

.Title {
  opacity: 0;
  animation: fadein 0.5s linear forwards 2.4s;
}
.Title h5 {
  font-weight: lighter;
}
.Title h5 div {
  position: relative;
  display: inline-block;
}

.Title h5 span {
  opacity: 0;
  transition: opacity 0.3s linear;
}
.Title h5 > span {
  opacity: 1;
}
.Title h5 span.active {
  transition: opacity 0.75s linear;
  opacity: 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
