.Achievements {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 4rem;
  position: fixed;
  color: var(--text);
  transition: color var(--theme-transition-duration) linear;
}
.Timeline {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.ConveyerBelt {
  position: sticky;
  top: 2.5%;
  left: 5rem;
  height: 95%;
  width: 10px;
  box-shadow: 0 0 5px var(--boxShadowColor);
  transition: box-shadow var(--theme-transition-duration) linear;
  border-radius: 5px;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
}
.EventStrip {
  position: absolute;
  top: 0;
  height: calc(100% - 6rem);
  width: 100%;
  overflow: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 3rem 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 35vh 0;
  box-sizing: border-box;
}
.EventStrip::-webkit-scrollbar {
  display: none;
}
.Year {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Year:not(:last-child) {
  margin-bottom: 25vh;
}
.Line {
  position: absolute;
  height: 100%;
  border-left: 1px solid var(--text);
  left: 6.5rem;
  transition: transform 0.3s ease-out,
    border-left var(--theme-transition-duration) linear;
  transform: scale(0);
}
.YearText {
  width: 5rem;
  text-align: center;
  flex-shrink: 0;
  transition: transform 0.3s ease-out;
  transform-origin: right;
  transform: scale(0);
}
.Blip {
  width: 20px;
  height: 20px;
  position: relative;
  left: -5px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--boxShadowColor);
  transform: translateX(-5px);
  backdrop-filter: blur(5px);
  flex-shrink: 0;
  transition: transform 0.3s ease-out,
    box-shadow var(--theme-transition-duration) linear,
    background-color var(--theme-transition-duration) linear;
  transform-origin: center;
  transform: scale(0);
  background-color: var(--text);
}
.Events {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1rem;
  margin-right: 0.5rem;
  transition: transform 0.3s ease-out;
  transform-origin: left;
  transform: scale(0);
}
.EventCard {
  box-shadow: 0 0 5px 0 var(--boxShadowColor);
  transition: box-shadow var(--theme-transition-duration) linear;
  padding: 0.5rem 1rem;
  backdrop-filter: blur(3px);
}
.EventCard:not(:last-child) {
  margin-bottom: 1rem;
}
.EventCardHeading {
  font-size: 1.3rem;
  font-weight: 300;
}
.Note {
  font-size: 0.9rem;
  font-weight: 300;
}
.Project {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  font-weight: 300;
  font-size: 0.95rem;
  margin-top: 1.4rem;
}
.ProjectHeading {
  display: flex;
  align-items: flex-start;
}
.ProjectDesc {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.YearEnter .YearText {
  transform: scale(1);
}
.YearEnter .Events {
  transform: scale(1);
}
.YearEnter .Blip {
  transform: scale(1);
}
.YearEnter .Line {
  transform: scale(1);
}
.Icon {
  filter: var(--iconFilter);
  transition: filter var(--theme-transition-duration) linear;
}

@media (min-width: 500px) {
}
@media (min-width: 768px) {
  .Timeline {
    max-width: 68%;
  }
}
