.Experience {
  width: 100%;
  height: 100%;
  z-index: 50;
  color: var(--text-0);
  transition: color var(--theme-transition-duration) linear;
  mask-image: linear-gradient(
    to bottom,
    transparent 3rem,
    rgba(0, 0, 0, 1) 5rem calc(100% - 8rem),
    transparent calc(100% - 3rem)
  );
  mask-position: center;
  mask-repeat: no-repeat;
  mask-composite: intersect;
  overflow-y: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.Experience button {
  align-items: flex-start;
  border: none;
  opacity: 0.5;
}
.Container {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  font-weight: lighter;
  height: 25rem;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
}
.Container svg {
  opacity: 0.75;
}
.Container h4 {
  font-weight: 100;
}
.Container svg {
  position: relative;
  top: 0.15rem;
}
.Container button svg {
  top: unset;
}
.Container button {
  margin-top: 1rem;
}
.Container h2 {
  margin: 0;
  font-weight: 100;
  color: var(--text-0);
  transition: color var(--theme-transition-duration) linear;
}
.Container span {
  font-weight: normal;
  color: var(--text-2);
  transition: color var(--theme-transition-duration) linear;
}
.Container .Set {
  border-left: 3px solid var(--text-3);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  height: 25rem;
  scroll-snap-align: start;
}
.Container .Set:not(:last-child) {
  margin-bottom: 2rem;
}
.Container .Set h2 {
  margin-bottom: 1.5rem;
  opacity: 1;
  cursor: pointer;
}
.Container .Set span:not(:last-child) {
  margin-bottom: 1rem;
}
.XPList {
  list-style: none;
  padding: 0;
}
.XP:not(:last-child) {
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .Container .Set {
    border-left: 1px solid var(--text-3);
  }
}

@media (min-width: 1000px) {
  .Container {
    max-width: 750px;
  }
}
@media (min-width: 1300px) {
  .Container {
    max-width: 1000px;
  }
}
