.ScrollingBackground {
  position: fixed;
  background: url("../../../assets/textures/cardboard-flat.png")
    var(--background-0);
  left: 0;
  width: calc(100vw + 25rem);
  height: 100%;
  transition: left 0.75s cubic-bezier(0.33, 0.03, 0.35, 0.97),
    background-color var(--theme-transition-duration) linear,
    filter var(--theme-transition-duration) linear;
  filter: var(--backgroundFilter);
}
.Position0 {
  left: 0;
}
.Position1 {
  left: -5rem;
}
.Position2 {
  left: -10rem;
}
.Position3 {
  left: -15rem;
}
.Position4 {
  left: -20rem;
}
.Position5 {
  left: -25rem;
}
