.ScrollingBackground {
  position: fixed;
  background: url("../../../assets/textures/cardboard-flat.png") var(--background);
  left: 0;
  width: 200vw;
  height: 100%;
  transition: left 1s cubic-bezier(0.66, 0.04, 0.35, 0.97),
    background-color var(--theme-transition-duration) linear,
    filter var(--theme-transition-duration) linear;
  filter: var(--backgroundFilter);
}
.Position0 {
  left: 0;
}
.Position1 {
  left: -20vw;
}
.Position2 {
  left: -40vw;
}
.Position3 {
  left: -60vw;
}
.Position4 {
  left: -80vw;
}
.Position5 {
  left: -100vw;
}
