.Project {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.5rem;
  transition: opacity 0.2s ease-out, transform 0.1s ease-out;
}
.ProjectCard {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.ProjectBackground {
  position: relative;
  width: 100%;
  background-blend-mode: multiply;
  background-color: var(--secondaryTransparent);
  object-position: -100vw;
  opacity: 0.8;
  background-size: 100%;
  background-position: center;
  box-shadow: 0 0 6px 0 var(--boxShadowColor);
  transition: background-color var(--theme-transition-duration) linear,
    box-shadow var(--theme-transition-duration) linear;
}
.CardHeader {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.CardTitle {
  font-size: 1.4em;
  font-weight: 100;
}
.CardDetails {
  display: flex;
  flex-flow: column;
  font-weight: 300;
}
.CardDescription {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}
.ProjectDuration {
  display: inline;
  float: left;
}
.ProjectType {
  display: inline;
  float: right;
  text-transform: capitalize;
  padding: 0 0.5rem;
  box-shadow: 0 0 3px 0 var(--boxShadowColor);
  transition: box-shadow var(--theme-transition-duration) linear, background-color var(--theme-transition-duration) linear;
  border-radius: 0.2rem;
  background-color: var(--primaryTransparent);
}
.ProjectExpanded {
  opacity: 0;
  transform: scale(0.9);
}

@media (min-width: 550px) {
  .Project {
    flex-basis: 50%;
  }
}
@media (min-width: 1000px) {
  .Project {
    flex-basis: 33.333%;
  }
}
@media (hover: hover) {
  .ProjectCard:hover {
    cursor: pointer;
  }
  .Project {
    transition: opacity 0.2s linear, transform 0.1s ease-out,
      box-shadow 0.1s linear;
  }
  .Project:hover {
    transform: scale(0.97);
    box-shadow: 0 0 8px var(--boxShadowColor);
  }
}
