.NoResults {
  margin-top: 2rem;
  display: none;
  opacity: 0;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s linear;
  font-weight: 300;
}
.NotFoundText {
  margin-top: 1rem;
  font-size: 1.1em;
}
.NotFound,
.NotFoundInner {
  filter: var(--iconFilter);
  transition: filter var(--theme-transition-duration) linear;
}
.Enter {
  opacity: 0;
  display: flex;
}
.EnterActive {
  opacity: 1;
  display: flex;
}
.EnterDone {
  opacity: 1;
  display: flex;
}
.Exit {
  opacity: 1;
  display: flex;
}
.ExitActive {
  opacity: 0;
  display: flex;
}
.ExitDone {
  opacity: 0;
  display: none;
}
