.ThemeSelector {
  position: fixed;
  top: 3rem;
  right: 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  opacity: 0.7;
  transition: opacity 0.1s linear;
}
.ThemeSelectorActive {
  opacity: 0.9;
}
.ThemeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.ThemeButtonIcon {
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  transform: rotateZ(-45deg);
  background: linear-gradient(
    to bottom right,
    var(--themeIconPrimary) 50%,
    var(--themeIconSecondary) 50%
  );
  z-index: 10;
  border: 2px solid var(--text);
  box-sizing: border-box;
  box-shadow: 0 0 15px 0 var(--boxShadowColor);
  transition: transform 0.1s linear, box-shadow 0.1s linear,
    border var(--theme-transition-duration) linear;
}
.ThemeButtonIcon:active {
  transform: rotateZ(-45deg) scale(0.9);
}
.ThemeButton .ThemeButtonEllipsis {
  width: 4px;
  height: 4px;
  margin: 2px;
  background-color: var(--text);
  transition: background-color var(--theme-transition-duration) linear;
  border-radius: 2px;
  z-index: 20;
  pointer-events: none;
}
.Themes {
  position: absolute;
  top: 0.9rem;
  z-index: 5;
  transition: top 0.3s ease-out, opacity 0.3s linear;
  opacity: 0;
  pointer-events: none;
}
.ThemesExpanded {
  top: 0.9rem;
  opacity: 1;
  pointer-events: all;
}
.Theme {
  position: absolute;
  transition: top 0.3s ease-out;
}
.ThemeIcon {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  transform: translate(-50%, -50%) rotateZ(45deg);
  box-sizing: border-box;
  border: 3px solid var(--text);
  transition: box-shadow 0.2s linear, transform 0.2s linear,
    border var(--theme-transition-duration) linear;
  box-shadow: 0 0 5px 0 var(--boxShadowColor) inset;
}
.ThemeIcon:active {
  transform: translate(-50%, -50%) rotateZ(45deg) scale(0.9);
}
.ThemeIconSelected {
  box-shadow: 0 0 5px 0 var(--boxShadowColor) inset,
    0 0 15px 0 var(--boxShadowColor);
}
.ThemeCheckMark {
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  font-size: 0.8em;
  font-weight: bold;
  transition: transform 0.2s linear,
    color var(--theme-transition-duration) linear;
  pointer-events: none;
  color: var(--text);
}
.ThemeCheckMarkSelected {
  transform: translate(-50%, -50%) scale(1);
}
.Divider {
  position: absolute;
  width: 2rem;
  height: 1px;
  background-color: var(--text);
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-out,
    background-color var(--theme-transition-duration) linear,
    box-shadow var(--theme-transition-duration) linear;
  box-shadow: 0 0 5px 0 var(--boxShadowColor);
}

@media (hover: hover) {
  .ThemeButtonIcon:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 var(--boxShadowColor);
  }
  .ThemeIcon:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 0 var(--boxShadowColor) inset,
      0 0 10px 0 var(--boxShadowColor);
  }
}
@media (min-width: 500px) {
  .ThemeSelector {
    top: 1.5rem;
  }
}
